<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link href="https://fonts.google.com/share?selection.family=Montserrat:ital,wght@0,100..900;1,100..900" rel="stylesheet">
</head>
<body>
    <h1>Login to Your Banking Account</h1>
    <form action="/" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
</body>
</html>
